* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  height: 100%;
  background: radial-gradient(#1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}

/* Work */
.application-title {
  text-align: center;
  font-size: 2.5vw;
  margin-bottom: 1%;
}

.application-title span {
  font-size: 1.5vw;
  cursor: text;
}

.repo-container {
  margin: 1% 0;
  text-align: center;
}

.project-repo {
  padding: 1%;
  background-color: black;
  font-size: 1.5vw;
}

.application-description {
  text-align: center;
  font-size: 1.5vw;
  margin-top: 0.5%;
  margin-bottom: 2%;
}

#work section a {
  text-decoration: none;
  margin: 10px;
  height: 200px;
  width: 100%;
}

.project-img {
  object-fit: contain;
  display: block;
  margin: auto;
  width: 45vw;
  height: 30vh;
}

.project {
  border-bottom: solid 10px black;
  margin-bottom: 20px;
}

/* Contact */

.sub-title {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 1%;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.info li {
  list-style-type: none;
  margin: 1%;
  font-size: 2vw;
}

/* Resume */

.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-div {
  text-align: center;
  margin-bottom: 1%;
}

.download {
  text-decoration: none;
  font-size: 1.5vw;
}

.paper {
  background-color: white;
  padding: 4% 4%;
  display: flex;
  flex-direction: column;
  width: 700px;
}

.top-section {
  text-align: center;
  margin-bottom: 4%;
}

.name {
  color: black;
  font-size: xx-large;
}

.contact {
  color: black;
}

.sub-headers {
  color: black;
  border-bottom: 2px solid black;
  margin: 2% 0;
}

.intro {
  color: black;
  text-align: center;
}

.skills {
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.skill-title {
  color: black;
  font-weight: bold;
  margin-bottom: 1%;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-title {
  color: black;
  font-size: large;
}

.project-info {
  color: black;
  margin-left: 5%;
  font-size: medium;
}

.work-header {
  display: flex;
  justify-content: space-between;
}

.work-title {
  color: black;
}

.work-info {
  color: black;
  margin-left: 5%;
}

.education-header {
  display: flex;
  justify-content: space-between;
}

.education-title {
  color: black;
}

.education-info {
  color: black;
  margin-left: 5%;
}

/* Background */

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.rain.back-row {
  display: none;
  z-index: -2;
  bottom: 60px;
  opacity: 0.5;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 10px;
  height: 100px;
  pointer-events: none;
  animation: drop 10s linear infinite;
}
@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 0.5px;
  height: 40%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
